@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=tasa-orbiter@700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-display: "TASA Orbiter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

